= form_for [app, build], :html => { :multipart => true } do |f|
  = f.label :bundle
  %small= f.error_message_on :bundle
  %small= f.error_message_on :bundle_identifier # this will display any corruption errors we find
  = f.file_field :bundle
  = f.submit 'Add Build'
