- if user_signed_in?
  = link_to 'All Applications', apps_path
  = link_to 'Create New Application', new_app_path
  = link_to 'Create new organization', new_organization_path
  = link_to 'Sign Out', destroy_user_session_path
- else
  = link_to 'Sign In', new_user_session_path
