%h1 Application: #{app.name}
- if app.latest_build
  = link_to "Download latest build", download_app_build_path(app, app.latest_build)
- else
  %h2= link_to "Add Build", new_app_build_path(app)

- if app.builds.count > 1
  %br
  %br
  %h2 All Builds
  %table
    %tr
      %th File Name
      %th Upload Date
      %th 
    - app.builds.each do |build|
      %tr
        %td= link_to build.binary_file_name, app_build_path(app, build)
        %td= build.binary_updated_at.strftime("%m/%d/%Y")
        %td= link_to "Install", download_app_build_path(app, build)
