!!!
%html
  %head
    %title AppDispensary
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    %header
      %h1= link_to "AppDispensary", root_path
    %aside.flashes
      - %w(notice alert error success warning info).each do |flash_type|
        - if flash[flash_type.to_sym]
          %div.flash{:class => flash_type}
            = flash[flash_type.to_sym]
    
    %section.content= yield
